@model ResetPasswordViewModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>

	<div class="agileits-top">
		<form asp-action="ResetPassword" method="post">

			<input asp-for="Password" class="form-control" placeholder="Password" required="" />

			<input asp-for="ConfirmPassword" class="form-control w3lpass" placeholder="Confirmed Password" required="" />


			
			<input type="submit" value="Reset Password">
		</form>
	</div>
</div>

