@model SignUpViewModel
@{
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
	ViewData["Title"] = "SignUp";
}

<div class="main-agileinfo">
	<div asp-validation-summary="All"></div>

	<div class="agileits-top">
		<form asp-action="SignUp" method="post">

			
			<input asp-for="UserName" class="form-control" placeholder="User Name" required=""/>
			

			
			<input asp-for="FirstName" class="form-control" placeholder="First Name" required=""/>
			

			<input asp-for="LastName" class="form-control" placeholder="Last Name" required=""/>
				

			<input asp-for="Email" class="form-control" placeholder="Email" required="" />
				

			
			<input asp-for="Password" class="form-control" placeholder="Password" required="" />
				

			
			<input asp-for="ConfirmPassword" class="form-control w3lpass" placeholder="Confirmed Password" required=""/>
				

			<div class="wthree-text">
				<label class="anim">
					<input type="checkbox" asp-for="IsAgree" class="checkbox" required="">
					<span>I Agree To The Terms & Conditions</span>
				</label>
				<div class="clear"> </div>
			</div>
			<input type="submit" value="SIGNUP">
		</form>
		<p>You Already Have Account? <a asp-action="SignIn"> Login Now!</a></p>
	</div>
</div>

