@model Department
@{
    ViewData["Title"] = "details";
}

<h1 class="py-3">Department Details</h1>
<div>
    
    <partial name="ParitalView/DetailsDeleteDepartment"/>

    <div class="py-3">
        <a asp-action="update" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</div>
