@model Department
@{
    bool Error = ViewData.ModelState.Values.Any(V => V.Errors.Count > 0);
}
@{
    ViewData["Title"] = "update";
}

<h1 class="py-3">Update Department</h1>

<form asp-action="update">

    @if(Error)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }

    <div class="from-group py-3">
        <label asp-for="Code" class="form-label"></label>
        <input asp-for="Code" class="form-control" />
        <span asp-validation-for="Code" class="text-danger"></span>
    </div>

    <div class="from-group py-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="from-group py-3">
        <label asp-for="DateOfCreation" class="form-label"></label>
        <input asp-for="DateOfCreation" class="form-control" />
    </div>

    <div class="py-3">
        <input type="submit" value="Update" class="btn btn-warning text-white" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

