@model EmployeeViewModel
@{
    ViewData["Title"] = "Delete";
}
<h1 class="py-3">Delete Employee Page </h1>
<form asp-action="Delete">
   
    <partial name="ParitalView/DetailsDeleteEmployee" />

    <div class="py-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>

