@model EmployeeViewModel
@{
    bool Error = ViewData.ModelState.Values.Any(V => V.Errors.Count > 0);
}
@{
    ViewData["Title"] = "Update";
}

<h1 class="py-3">Update Employee</h1>

<form asp-action="Update" enctype="multipart/form-data">

    @if(Error)
    {
        <div asp-validation-summary="All" class="alert alert-danger"></div>
    }

    <partial name="ParitalView/CreateUpdateEmployee"/>

    <input asp-for="ImageName"  hidden />


    <div class="py-3">
        <input type="submit" value="Update" class="btn btn-warning text-white" />
        <a asp-action="Index" class="btn btn-light">Back To List</a>
    </div>
</form>
@section ValidationSection
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
